body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #F5DA81;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}
h1{
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
p{
    margin: 0 0 1.5em 0;
}
img{
    max-width: 100%;
    height: auto;
}
#main-header{
    background: #333;
    color: white;
    height: 80px;
}
#main-header a {
    color: white;
}
#logo-header{
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover{
    color: #b0aba0;
}
#logo-header .site-name{
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}
#logo-header .site-desc{
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    display: block;
    padding: 0 5px;
    text-decoration: none;
}
nav ul li a:hover{
    background: #b0aba0;
}
li{
    font: Arial;
    float: left;
}
li a, .dropbtn{
    display: inline-block;
    color: #F5ECCE;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: #8A4B08;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #DBA901;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: black;
}
.dropdown:hover .dropdown-content{
    display: block;
}
#main-content{
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
#main-content header,
#main-content .content{
    padding: 40px;
}
#main-header{
    background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}